@import "tailwindcss";

.hero-font {
    font-family: "Big Shoulders Display", sans-serif;
}

body {
    background: #a6faff; /* cyan-200 */
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
    margin: 0;
    padding: 0;
}
